.wrapper {
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding: 20px;
	column-gap: 20px;
	border: 1px solid green;
	.info {
		display: flex;
		flex-direction: column;
		ul {
			margin-bottom: 20px;
			li {
				&:not(:last-of-type) {
					margin-bottom: 5px;
				}
				span {
					font-weight: 700;
				}
			}
		}
		button {
			align-self: center;
		}
	}
}

.body {
	h3 {
		margin-bottom: 15px;
	}
}
